
body {
	background: #f2f2f2;
	text-align: center;
	font-family: sans-serif;
	min-height: 100vh;
}


.navbar {
	margin: 0;
	padding: 0;
	background: #ff0080;
	overflow: hidden;
	font-family: 'Basic', sans-serif;
}

.navbar li {
	float: left;
	list-style-type: none;
}

.navbar li a {
	color: #ffffff;
	text-decoration: none;
	text-transform: capitalize;
	padding: 12px 16px;
	display: inline-block;
}

.navbar li a:hover {
	background: white;
}

.navbar a:hover {
	color: #ff0080
}
h1 {
	padding: 5px 5px;
	margin: 5px 5px;
}
.container {
	margin: auto;
	width: 500%;
	max-width: 90%;

}

.container form {
	width: 100%;
	height: 100%;
	padding: 20%;
	background: white;
	border-radius: 4px;
	box-shadow: 0 8px 16px rgba(0,0,0,.3);
}
.container form .form-control{
	width: 100%;
	height: 40%;
	background: white; 
	border-radius: 4px;
	margin: 10px 0 18px 0;
	padding: 0 10px;
}

.container form .btn{
	margin-left: 50%;
	transform: translateX(-50%);
	width: 120px;
	height: 34px;
	border: none;
	outline: none;
	background: #ff0080;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	border-radius: 4px;
	transition: .3s;
}
.container form .btn:hover {
	opacity: .7;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}